@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1 class="First_Text">Bright Way University
    </h1>
    <br /><br /><br />
    <section class="FIRST_col">
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <img style="width:500px" class="img1 col-md-6" src="~/images/vadim-sherbakov-d6eby-faoo0-unsplash.jpg" />
                </div>
                <div class="col">
                   <br />
                    <p class="first_para">
                        Welcome to Official web portal of our University.Our University is a leading University across the country as well
                        as in the world.With Internation Branches of our University We are listed in the top 100 universities across Asia.Through this
                        web site you'll be able grab every Detail you'll need.
                    </p>
                </div>
            </div>
    </section>
    <br /><br /><br /><br />
    <section>
        <div>
            <h1 class="Topic1">Faculties</h1>
        </div>
        <div>
            <dl class="List1">
                <li class="para2"><h4>Science Faculty</h4></li>
                Science Faculty of our University Provide wider area of knowledge to our scholars.We can capable of providing high-class
                Degrees with a experice.Because of the Experts of Biology, Chemestry and Physics we are open to provide a huge number of Degree 
                Programs.
                <li class="para2"><h4>ICT Faculty</h4></li>
                Our University is Specially formed to provide an advance service and package of knowledge in ICT Faculty.We got a immense amount of
                IT Experts with us to porvide a premium level of Degrees plans to our scholars.Also with Foundation Courses it will be great oppotunity
                learn what you love to us.
            </dl>
        </div>
    </section>
   
    
    
</div>
