@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1 class="First_Text">Students' Information Management System.
    </h1>
    <br /><br /><br />
    <p class="first_para"> Welcome to Official web portal of our University.Grab the Details which you required by following our web pages.Explore,Collect and Update details of you 
        through the following forms.
    </p>
    
    
</div>
