@page
@model IT_WEB_23_63_0055_K.H.S.D.Hettiarachchi_Q2.Pages.Student_InfomationModel
@{
    ViewData["Title"] = "Students Info";
}
<h1>@ViewData["Title"]</h1>

<p>cat</p>
<a href="D:\e\slii\My Final Project\Q2\IT-WEB-23-63-0055-K.H.S.D.Hettiarachchi-Q2\IT-WEB-23-63-0055-K.H.S.D.Hettiarachchi-Q2\Pages\Students_Info\Index.cshtml">pit</a>

}
