@page
@model IT_WEB_23_63_0055_K.H.S.D.Hettiarachchi_Q2.Pages.Index1Model
@{
}
<ul>
    <li>
        <a class=" nav-link text-dark" asp-page="/Students/Details">All Students Information</a>
    </li>
</ul>