html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}
// <uniquifier > : Use a unique and descriptive class name

.oswald-<uniquifier > {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

body {
  margin-bottom: 60px;
}
.First_Text {
    font-size: 60px;
    font-weight: bold;
    color: darkred;
    font-family: "Oswald", sans-serif;
}
.first_para {
    font-size: 20px;
    
}